html,body{
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: green;
    font-size: 25px;
    font-weight: bold;
}
button{
    padding: 10px 20px;
background: white;
color: green;
border-radius: 10px;
}